In [11]:
for df in tqdm(df_iter):
    df.to_sql(
        name='green_taxi_data',
        con=engine,
        if_exists='append')

0it [00:00, ?it/s]

In [10]:
# print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [9]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
!uv add sqlalchemy psycopg2.binary

Resolved 119 packages in 0.66ms
Audited 10 packages in 0.14ms

In [6]:
df['lpep_pickup_datetime']

0        2018-12-21 15:17:29
1        2019-01-01 00:10:16
2        2019-01-01 00:27:11
3        2019-01-01 00:46:20
4        2019-01-01 00:19:06
                 ...
630913   2019-01-31 23:08:27
630914   2019-01-31 23:21:26
630915   2019-01-31 23:30:05
630916   2019-01-31 23:59:58
630917   2019-01-31 23:18:22
Name: lpep_pickup_datetime, Length: 630918, dtype: datetime64[us]

In [5]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64"
}

parse_dates = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [4]:
print(df.columns)
print(df.describe)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='str')
<bound method NDFrame.describe of         VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2018-12-21 15:17:29   2018-12-21 15:18:57
1              2  2019-01-01 00:10:16   2019-01-01 00:16:32
2              2  2019-01-01 00:27:11   2019-01-01 00:31:38
3              2  2019-01-01 00:46:20   2019-01-01 01:04:54
4              2  2019-01-01 00:19:06   2019-01-01 00:39:43
...          ...                  ...                   ...
630913         2  2019-01-31 23:08:27   2019-01-31 23:22:59
630914         2  2019-01-31 23:21:26   2019-01-31 23:23:05
630915         2  2019-01-31 23:30:05   2019-01-31 23:36:14
630916         2  2019-01-31 23:59:58   2019-02-01 00:04:18
630917         2  2019-01-31 23:18:22   2019-01-31 23:26:06

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1           264           264
1                       N           1            97            49
2                       N           1            49           189
3                       N           1           189            17
4                       N           1            82           258
...                   ...         ...           ...           ...
630913                  N           1           255           226
630914                  N           1            75           151
630915                  N           1            75           238
630916                  N           1            74            74
630917                  N           1            75           262

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           0.00          3.0    0.5      0.5
1                     2           0.86          6.0    0.5      0.5
2                     2           0.66          4.5    0.5      0.5
3                     2           2.68         13.5    0.5      0.5
4                     1           4.53         18.0    0.5      0.5
...                 ...            ...          ...    ...      ...
630913                1           3.33         13.0    0.5      0.5
630914                1           0.72          4.0    0.5      0.5
630915                1           1.75          7.0    0.5      0.5
630916                1           0.57          5.0    0.5      0.5
630917                1           2.11          8.5    0.5      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             0.00           0.0        NaN                    0.3
1             0.00           0.0        NaN                    0.3
2             0.00           0.0        NaN                    0.3
3             2.96           0.0        NaN                    0.3
4             0.00           0.0        NaN                    0.3
...            ...           ...        ...                    ...
630913        2.14           0.0        NaN                    0.3
630914        1.06           0.0        NaN                    0.3
630915        0.00           0.0        NaN                    0.3
630916        1.00           0.0        NaN                    0.3
630917        1.96           0.0        NaN                    0.3

        total_amount  payment_type  trip_type  congestion_surcharge
0               4.30             2          1                   NaN
1               7.30             2          1                   NaN
2               5.80             1          1                   NaN
3              19.71             1          1                   NaN
4              19.30             2          1                   NaN
...              ...           ...        ...                   ...
630913         18.39             1          1                   0.0
630914          6.36             1          1                   0.0
630915          8.30             1          1                   0.0
630916          7.30             1          1                   0.0
630917         11.76             1          1                   0.0

[630918 rows x 20 columns]>

In [3]:
len(df)

630918

In [2]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/'
url = f'{prefix}green_tripdata_2019-01.csv.gz'
df = pd.read_csv(url)

In [1]:
import pandas as pd
# !uv add tqdm
from tqdm.auto import tqdm