In [3]:
import pandas as pd
!uv add tqdm
from tqdm import tqdm

Resolved 119 packages in 1ms
Audited 11 packages in 12ms

In [9]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
df = pd.read_csv(url)

/tmp/ipykernel_6598/852007012.py:3: DtypeWarning: Columns (0: store_and_fwd_flag) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [1]:
len(df)

NameError: name 'df' is not defined

In [14]:
print(df.columns)
print(df.describe)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='str')
<bound method NDFrame.describe of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1.0  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1             1.0  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2             1.0  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3             1.0  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4             2.0  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0
...           ...                  ...                   ...              ...
1369760       NaN  2021-01-25 08:32:04   2021-01-25 08:49:32              NaN
1369761       NaN  2021-01-25 08:34:00   2021-01-25 09:04:00              NaN
1369762       NaN  2021-01-25 08:37:00   2021-01-25 08:53:00              NaN
1369763       NaN  2021-01-25 08:28:00   2021-01-25 08:50:00              NaN
1369764       NaN  2021-01-25 08:38:00   2021-01-25 08:50:00              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 2.10         1.0                  N           142
1                 0.20         1.0                  N           238
2                14.70         1.0                  N           132
3                10.60         1.0                  N           138
4                 4.94         1.0                  N            68
...                ...         ...                ...           ...
1369760           8.80         NaN                NaN           135
1369761           5.86         NaN                NaN            42
1369762           4.45         NaN                NaN            14
1369763          10.04         NaN                NaN           175
1369764           4.93         NaN                NaN           248

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  43           2.0         8.00   3.00      0.5        0.00
1                 151           2.0         3.00   0.50      0.5        0.00
2                 165           1.0        42.00   0.50      0.5        8.65
3                 132           1.0        29.00   0.50      0.5        6.05
4                  33           1.0        16.50   0.50      0.5        4.06
...               ...           ...          ...    ...      ...         ...
1369760            82           NaN        21.84   2.75      0.5        0.00
1369761           161           NaN        26.67   2.75      0.5        0.00
1369762           106           NaN        25.29   2.75      0.5        0.00
1369763           216           NaN        28.24   2.75      0.5        0.00
1369764           168           NaN        20.76   2.75      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    0.3         11.80
1                 0.0                    0.3          4.30
2                 0.0                    0.3         51.95
3                 0.0                    0.3         36.35
4                 0.0                    0.3         24.36
...               ...                    ...           ...
1369760           0.0                    0.3         25.39
1369761           0.0                    0.3         30.22
1369762           0.0                    0.3         28.84
1369763           0.0                    0.3         31.79
1369764           0.0                    0.3         24.31

         congestion_surcharge
0                         2.5
1                         0.0
2                         0.0
3                         0.0
4                         2.5
...                       ...
1369760                   0.0
1369761                   0.0
1369762                   0.0
1369763                   0.0
1369764                   0.0

[1369765 rows x 18 columns]>

In [16]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [17]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[us]

In [21]:
!uv add sqlalchemy psycopg2.binary

Resolved 118 packages in 77ms
Prepared 1 package in 52ms
░░░░░░░░░░░░░░░░░░░░ [0/1] Installing wheels...                                 warning: Failed to hardlink files; falling back to full copy. This may lead to degraded performance.
         If the cache and target directories are on different filesystems, hardlinking may not be supported.
         If this is intentional, set `export UV_LINK_MODE=copy` or use `--link-mode=copy` to suppress this warning.
Installed 1 package in 8ms9.11
 + psycopg2-binary==2.9.11

In [24]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [28]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [40]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [41]:
for df in tqdm(df_iter):
    df.to_sql(
        name='yellow_taxi_data',
        con=engine,
        if_exists='append')

0it [00:00, ?it/s]