In [11]:
# Verify data was loaded successfully
result = pd.read_sql('SELECT COUNT(*) as count FROM taxi_zones', con=engine)
print(f"Total zones loaded: {result['count'].values[0]}")
print("\nFirst few zones:")
pd.read_sql('SELECT * FROM taxi_zones LIMIT 5', con=engine)

Total zones loaded: 265

First few zones:

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df.to_sql(name='taxi_zones', con=engine, if_exists='replace', index=False)

265

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
!uv add sqlalchemy psycopg2.binary

Resolved 119 packages in 0.70ms
Audited 10 packages in 0.20ms

In [7]:
print(df.columns)
print(df.head())

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='str')
   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df['LocationID']

0        1
1        2
2        3
3        4
4        5
      ...
260    261
261    262
262    263
263    264
264    265
Name: LocationID, Length: 265, dtype: int64

In [5]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
df = pd.read_csv(url)

In [3]:
import pandas as pd